<% layout("/layouts/boilerplate") -%>

<div class="d-flex justify-content-center mb-3">
    <link rel="stylesheet" href="/css/listing.css">
    <div class="wrapper">
        <header class="mb-3 mt-5">Edit Listing</header>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" onsubmit="disabledButton()" enctype="multipart/form-data">

            <div class="field">
                <label for="title">Title:</label>
                <div class="input-area">
                    <input type="text" name="listing[title]" value="<%= listing.title %>" class="custom-input" id="title" placeholder="Hostel Name" required>
                    <i class="icon fas fa-heading"></i>
                </div>
            </div>

            <div class="field">
                <label for="forWho">For Who:</label>
                <div class="input-area">
                    <select name="listing[forWho]" id="forWho" required class="custom-select">
                        <option value="Boys" <%= listing.forWho === 'Boys' ? 'selected' : '' %>>Boys</option>
                        <option value="Girls" <%= listing.forWho === 'Girls' ? 'selected' : '' %>>Girls</option>
                    </select>
                <i class="icon fas fa-user-friends"></i>
                </div>
            </div>

            <div class="field">
                <label for="city">City:</label>
                <div class="input-area">
                    <input type="text" name="listing[city]" value="<%= listing.city %>" class="custom-input" id="city" placeholder="Listing City" required>
                    <i class="icon fas fa-city"></i>
                </div>
            </div>

            <div class="field">
                <label for="state">State:</label>
                <div class="input-area">
                    <input type="text" name="listing[state]" value="<%= listing.state %>" class="custom-input" id="state" placeholder="Listing State" required>
                    <i class="icon fas fa-map-marked-alt"></i>
                </div>
            </div>

            <div class="field">
                <label for="address">Address:</label>
                <div class="input-area">
                    <input type="text" name="listing[address]" value="<%= listing.address %>" class="custom-input" id="address" placeholder="Enter the full address" required>
                    <i class="icon fas fa-map-marker-alt"></i>
                </div>
            </div>

            <div class="field">
                <label for="nearCollege">Is your hostel near any college? If yes, enter the college name:</label>
                <div class="input-area">
                    <input class="custom-input" type="text" name="listing[nearCollege]" id="nearCollege" placeholder="College Name" value="<%= listing.nearCollege %>">
                    <i class="icon fas fa-university"></i>
                </div>
            </div>

            <div class="field">
                <label for="email">Business Email:</label>
                <div class="input-area">
                    <input class="custom-input" type="email" name="listing[contact][email]" id="email" placeholder="Enter your business email" value="<%= listing.contact.email %>" required>
                    <i class="icon fas fa-envelope"></i>
                </div>
            </div>

            <div class="field">
                <label for="mobile">Primary Mobile No.:</label>
                <div class="input-area">
                    <input class="custom-input" type="number" name="listing[contact][mobile]" id="mobile" placeholder="Provide primary mobile no. for listing" value="<%= listing.contact.mobile %>" required>
                    <i class="icon fas fa-mobile-alt"></i>
                </div>
            </div>

            <div class="field">
                <label for="price">Price:</label>
                <div class="input-area">
                    <input type="text" name="listing[price]" value="<%= listing.price %>" class="custom-input" id="price" placeholder="Set a price" required>
                    <i class="icon fas fa-rupee-sign"></i>
                </div>
            </div>

            <div class="field">
                <div class="preview-image">
                    <img src="<%=listing.image.path%>" alt="<%=listing.image.filename%>" height="150px" width="95%" style="border-radius: 10px;">
                </div>
            </div>

            <div class="field">
                <label for="image">Image:</label>
                <div class="input-area">
                    <input type="file" name="listing[image]" class="custom-input" id="image" accept=".png, .jpg, .jpeg" size="3000000" placeholder="Select an image" required>
                </div>
            </div>

            <div class="field">
                <label for="description">Description:</label>
                <div class="input-area">
                    <textarea type="text" name="listing[description]" class="custom-input" id="description" placeholder="Describe your listing" required><%= listing.description %></textarea>
                </div>
            </div>

            <div class="field">
                <label>Room Types:</label>
                <div class="input-area checkbox-container">
                    <div>
                        <input type="checkbox" name="listing[roomType][Single]" value="Single" id="single" <%=listing.roomType.Single ? 'checked' : "" %>>
                        <label for="single">Single Bed</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[roomType][Double]" value="Double" id="double" <%=listing.roomType.Double ? 'checked' : "" %>>
                        <label for="double">Double Bed</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[roomType][Triple]" value="Triple" id="triple" <%=listing.roomType.Triple ? 'checked' : "" %>>
                        <label for="triple">Triple Bed</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[roomType][Dormitory]" value="Dormitory" id="dormitory" <%=listing.roomType.Dormitory ? 'checked' : "" %>>
                        <label for="dormitory">Dormitory</label>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="bedrooms">Number of Bedrooms:</label>
                <div class="input-area">
                    <input type="number" name="listing[bedrooms]" value="<%= listing.bedrooms %>" placeholder="Enter the total number of bedrooms in hostel" class="custom-input" id="bedrooms" required>
                    <i class="icon fas fa-bed"></i>
                </div>
            </div>

            <div class="field">
                <label>Facilities:</label>
                <div class="input-area checkbox-container">
                    <div>
                        <input type="checkbox" name="listing[facilities][WiFi]" value="WiFi" id="wifi" <%=listing.facilities.WiFi ? 'checked' : '' %>>
                        <label for="wifi">WiFi</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Parking]" value="Parking" id="parking"  <%=listing.facilities.Parking ? 'checked' : "" %>>
                        <label for="parking">Parking</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Heating]" value="Heating" id="heating" <%=listing.facilities.Heating ? 'checked' : "" %>>
                        <label for="heating">Geyser</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Washroom]" value="Washroom" id="washroom" <%=listing.facilities.Washroom ? 'checked' : "" %>>
                        <label for="washroom">Attached Washroom</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Kitchen]" value="Kitchen" id="kitchen"  <%=listing.facilities.Kitchen ? 'checked' : "" %>>
                        <label for="kitchen">Kitchen</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Gym]" value="Gym" id="gym" <%=listing.facilities.Gym ? 'checked' : "" %>>
                        <label for="gym">Gym</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Laundry]" value="Laundry" id="laundry" <%=listing.facilities.Laundry ? 'checked' : "" %>>
                        <label for="laundry">Laundry</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][AC]" value="Air Conditioning" id="airconditioning" <%=listing.facilities.AC ? 'checked' : "" %>>
                        <label for="airconditioning">Air Conditioning</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][Mess]" value="Mess" id="mess" <%=listing.facilities.Mess ? 'checked' : "" %>>
                        <label for="mess">Mess</label>
                    </div>
                    <div>
                        <input type="checkbox" name="listing[facilities][TV]" value="TV" id="tv" <%=listing.facilities.TV ? 'checked' : "" %>>
                        <label for="tv">TV</label>
                    </div>
                </div>
            </div>

            <button class="custom-submit mb-3 submitButton" style="border: none;">Update</button>
        </form>
    </div>
</div>
