<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3 class="mb-3 mt-5">Edit Listing</h3>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" onsubmit="disabledButton()">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" id="title" required>
            </div>

            <div class="mb-3">
                <label for="forWho" class="form-label">For Who</label>
                <select name="listing[forWho]" id="forWho" required class="form-select">
                    <option value="Boys" <%= listing.forWho === 'boys' ? 'selected' : '' %>>Boys</option>
                    <option value="Girls" <%= listing.forWho === 'girls' ? 'selected' : '' %>>Girls</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" name="listing[city]" value="<%= listing.city %>" class="form-control" id="city" required>
            </div>

            <div class="mb-3">
                <label for="state" class="form-label">State</label>
                <input type="text" name="listing[state]" value="<%= listing.state %>" class="form-control" id="state" required>
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" name="listing[address]" value="<%= listing.address %>" class="form-control" id="address" required>
            </div>

            <div class="mb-3">
                <label for="nearCollege" class="form-label">Is your college near another college? If yes, enter the college name</label>
                <input class="form-control" type="text" name="listing[nearCollege]" id="nearCollege" placeholder="College Name" value="<%= listing.nearCollege %>">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" value="<%= listing.price %>" class="form-control" id="price" required>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" name="listing[image][path]" value="<%= listing.image.path %>" class="form-control" id="image" accept=".png, .jpg, .jpeg" size="3000000" required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="listing[description]" value="<%= listing.description %>" class="form-control" id="description" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Room Types</label>
                <div class="d-flex flex-wrap">
                    <div class="form-check me-3">
                        <label class="form-check-label" for="single">Single Bed</label>
                        <input class="form-check-input" type="checkbox" name="listing[roomType][Single]" value="Single" id="single" <%=listing.roomType.Single ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="double">Double Bed</label>
                        <input class="form-check-input" type="checkbox" name="listing[roomType][Double]" value="Double" id="double" <%=listing.roomType.Double ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="triple">Triple Bed</label>
                        <input class="form-check-input" type="checkbox" name="listing[roomType][Triple]" value="Triple" id="triple" <%=listing.roomType.Triple ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="dormitory">Dormitory</label>
                        <input class="form-check-input" type="checkbox" name="listing[roomType][Dormitory]" value="Dormitory" id="dormitory" <%=listing.roomType.Dormitory ? 'checked' : "" %>>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="bedrooms" class="form-label">Number of Bedrooms</label>
                <input type="number" name="listing[bedrooms]" placeholder="Enter the total number of bedrooms in hostel" class="form-control" id="bedrooms"  value="<%=listing.bedrooms%>" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Facilities</label>
                <div class="d-flex flex-wrap">
                    <div class="form-check me-3">
                        <label class="form-check-label" for="wifi">WiFi</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][WiFi]" value="WiFi" id="wifi" <%=listing.facilities.WiFi ? 'checked' : '' %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="parking">Parking</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Parking]" value="Parking" id="parking"  <%=listing.facilities.WiFi ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="heating">Heating</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Heating]" value="Heating" id="heating" <%=listing.facilities.Heating ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="washroom">Attached Washroom</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Washroom]" value="Washroom" id="washroom" <%=listing.facilities.Washroom ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="kitchen">Kitchen</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Kitchen]" value="Kitchen" id="kitchen"  <%=listing.facilities.Kitchen ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="gym">Gym</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Gym]" value="Gym" id="gym" <%=listing.facilities.Gym ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="laundry">Laundry</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Laundry]" value="Laundry" id="laundry" <%=listing.facilities.Laundry ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="airconditioning">Air Conditioning</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][AC]" value="Air Conditioning" id="airconditioning" <%=listing.facilities.AC ? 'checked' : "" %>>
                    </div>
                    <div class="form-check me-3">
                        <label class="form-check-label" for="mess">Mess</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][Mess]" value="Mess" id="mess" <%=listing.facilities.Mess ? 'checked' : "" %>>
            </div>
                    <div class="form-check">
                        <label class="form-check-label" for="tv">TV</label>
                        <input class="form-check-input" type="checkbox" name="listing[facilities][TV]" value="TV" id="tv" <%=listing.facilities.TV ? 'checked' : "" %>>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary mb-3 submitButton" style="border: none;">Update</button>
        </form>
    </div>
</div>
