<% layout("layouts/boilerplate") -%>

<div class="d-flex justify-content-center">
    <a href="/listings" class="btn">All</a>
    <a href="/listings/for/boys" class="btn">Boys</a>
    <a href="/listings/for/girls" class="btn">Girls</a>
</div>

<!-- Listings UI -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for (let listing of listings) { %>
        <% let totalRating = 0; %> 
        <% for(let i=0; i<listing.reviews.length; i++) { %>
            <% totalRating += listing.reviews[i].rating %>
        <% } %>
        <% let average = totalRating / (listing.reviews.length); %>
    
        <a href="/listings/<%=listing.id%>" class="listing-link mb-3">
            <div class="card col">
                <img src="<%=listing.image%>" class="card-img-top" alt="Image Of <%=listing.title%>" style="height: 20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
            
                        <p class="card-title"><strong><%=listing.title%></strong>
                            <div class="d-flex">
                            <div>
                                <p><strong>&#x20B9;<%=listing.price.toLocaleString("en-IN")%> /month</strong></p>
                            </div>
                            <div class="ms-auto">
                                <% for (let i = 0; i < Math.round(average); i++) { %>
                                    <i class="fa-solid fa-star text-warning"></i>
                                <% } %>
                                
                                <% if (Math.round(average) > 0) { %>
                                    <strong>(<%= listing.reviews.length %>)</strong>&nbsp;
                                <% } else { %>
                                    <strong>No Rating</strong>&nbsp;
                                <% } %>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </a>
    <% } %>
</div>
