<% layout("layouts/boilerplate.ejs") -%>
<!-- Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css'>
<div class="swiper-container main-slider loading">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1555854877-bab0e564b8d5?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1555854877-bab0e564b8d5?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Skyline Residences</p>
                <span class="caption">"Elevate your student life at Skyline Residences. Where every view is a masterpiece and every moment is an adventure."</span>
            </div>
        </div>
        
        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1623625434462-e5e42318ae49?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1623625434462-e5e42318ae49?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Urban Oasis Hostel</p>
                <span class="caption">"Discover your oasis in the heart of the city. Urban Oasis Hostel - where vibrant city life meets tranquility."</span>
            </div>
        </div>
        
        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1596276020587-8044fe049813?q=80&w=1539&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1596276020587-8044fe049813?q=80&w=1539&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Nature's Haven Hostel</p>
                <span class="caption">"Escape to Nature's Haven Hostel. Where the serenity of the surroundings becomes the soundtrack of your student life."</span>
            </div>
        </div>

        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1608198399988-341f712c3711?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1608198399988-341f712c3711?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Greenfield Hostel</p>
                <span class="caption">"Embrace the green living at Greenfield Hostel. Where sustainability meets style, and every corner is a breath of fresh air."</span>
            </div>
        </div>

        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1557367184-663fba4b8b91?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1557367184-663fba4b8b91?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Serenity Suites</p>
                <span class="caption">"Find your serenity at Serenity Suites. A haven of peace and comfort for students pursuing excellence."</span>
            </div>
        </div>

    </div>
    <!-- Navigation buttons -->
    <!-- <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div> -->
</div>

<!-- Thumbnail navigation -->
<div class="swiper-container nav-slider loading mb-5">
    <div class="swiper-wrapper" role="navigation">
        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1555854877-bab0e564b8d5?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1555854877-bab0e564b8d5?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Skyline Residences</p>
            </div>
        </div>
        
        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1623625434462-e5e42318ae49?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1623625434462-e5e42318ae49?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Urban Oasis Hostel</p>
            </div>
        </div>

        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1596276020587-8044fe049813?q=80&w=1539&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1596276020587-8044fe049813?q=80&w=1539&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Nature's Haven Hostel</p>
            </div>
        </div>

        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1608198399988-341f712c3711?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1608198399988-341f712c3711?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Greenfield Hostel</p>
            </div>
        </div>

        <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url(https://images.unsplash.com/photo-1557367184-663fba4b8b91?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
                <img src="https://images.unsplash.com/photo-1557367184-663fba4b8b91?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="entity-img" />
            </figure>
            <div class="content">
                <p class="title">Serenity Suites</p>
            </div>
        </div>
    </div>
</div>

<!-- Slider End -->


<!-- Listings UI Section --> 
        <h1 class="text-center mb-4" style="font-weight: 700; font-size: large;">Exclusive Hostels For You</h1>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for (let listing of listings) { %>
                <% let totalRating = 0; %> 
                <% for(let i=0; i<listing.reviews.length; i++) { %>
                    <% totalRating += listing.reviews[i].rating %>
                <% } %>
                <% let average = totalRating / (listing.reviews.length); %>
            
                <a href="/listings/<%=listing.id%>" class="listing-link mb-3">
                    <div class="card col">
                        <img src="<%=listing.image.path%>" class="card-img-top" alt="Image Of <%=listing.title%>" style="height: 20rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-title"><strong><%=listing.title%></strong></p>
                            <div class="d-flex">
                                <div>
                                    <p><strong>&#x20B9;<%=listing.price.toLocaleString("en-IN")%> /month</strong></p>
                                </div>
                                <div class="ms-auto">
                                    <% for (let i = 0; i < Math.round(average); i++) { %>
                                        <i class="fa-solid fa-star text-warning"></i>
                                    <% } %>
                                    <% if (Math.round(average) > 0) { %>
                                        <strong>(<%= listing.reviews.length %>)</strong>&nbsp;
                                    <% } else { %>
                                        <strong>No Rating</strong>&nbsp;
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/listings" class="btn btn-lg btn-primary">Explore More &nbsp; <i class="fa-solid fa-explosion"></i></a>
        </div>



<!-- Team Cards Section -->


<!-- Contact Form Section -->
<hr class="mb-3 mt-5">
<div class="contact-form mt-5 mb-3">
    <h1 class="text-center" style="font-size: 34px; font-weight: 700;"><strong>Get in touch with us</strong></h1>
    <form action="/contact" method="POST" onsubmit="disabledButton()">
        <label class="form-label">Name</label>
        <input type="text" placeholder="Your name" class="form-control" name="contact[name]" required> <br>

        <label class="form-label">Email*</label>
        <input type="email" placeholder="Your email" class="form-control"  name="contact[email]" required> <br>

        <label class="form-label" for="message">Message*</label>
        <textarea id="message" rows="3"  class="form-control" placeholder="Enter your message here" name="contact[message]" required></textarea>

        <button class="btn btn-primary mt-2 submitButton">Submit</button>
    </form>
    <br>
</div>


<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js'></script>