<% layout("layouts/boilerplate") -%>

<style>
    body {
        font-family: 'Arial', sans-serif; /* Default font family */
    }

    .profile-card {
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-image {
        height: 150px;
        width: 150px;
        font-size: 150px;
        border: 1px solid black;
        background-color: #b4e012a9;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; 
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
    }

    .profile-info {
        width: 100%;
        text-align: center;
    }

    .profile-info ul {
        list-style-type: none;
        padding: 0;
    }

    .profile-info li {
        margin-bottom: 10px;
    }

    .edit-button {
        background-color: #ffcc00;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Arial', sans-serif; /* Default font family */
    }

    @media (max-width: 768px) {
        .profile-image {
            height: 250px;
            width: 250px;
            font-size: 100px;
        }
    }
</style>

<div class="profile-card">
    <div class="profile-image mt-3">
        <%= user.name[0] %>
    </div>
    
    <div class="profile-info">
        <ul>
            <li><strong>Name:</strong> <%= user.name %></li>
            <li><strong>Email:</strong> <%= user.email %></li>
            <li><strong>Username:</strong> <%= user.username %></li>
            <li><strong>Account Type:</strong> <%= user.accountType === "Personal" ? "Student / Individual" : user.accountType %></li>
            <li><strong>Joined:</strong> <%= user.createdAt.toLocaleDateString() %></li>
            
            <% if(currentUser.username === user.username)  {%>
                <li style="margin-top: 20px;">
                    <form action="/account/edit" method="GET" style="display: inline;">
                        <button type="submit" class="edit-button">Edit Profile</button>
                    </form>
                </li>
            <%}%>
        </ul>
    </div>
</div>


<% if (listings && listings.length > 0)  {%>
    <hr class="mt-5">
    <h1 class="text-center mb-3">Listings By: <strong><%= user.name %> <i>(@<%= user.username %>)</i></strong></h1>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5">
        <% for (let listing of listings) { %>
            <% let totalRating = 0; %> 
            <% for (let i = 0; i < listing.reviews.length; i++) { %>
                <% totalRating += listing.reviews[i].rating %>
            <% } %>
            <% let average = totalRating / (listing.reviews.length); %>

            <a href="/listings/<%= listing.id %>" class="listing-link mb-3">
                <div class="card col">
                    <img src="<%= listing.image.path %>" class="card-img-top" alt="Image Of <%= listing.title %>" style="height: 20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-title"><strong><%= listing.title %></strong></p>
                        <div class="d-flex">
                            <div>
                                <p><strong>&#x20B9;<%= listing.price.toLocaleString("en-IN") %> /month</strong></p>
                            </div>
                            <div class="ms-auto">
                                <% for (let i = 0; i < Math.round(average); i++) { %>
                                    <i class="fa-solid fa-star text-warning"></i>
                                <% } %>
                                <% if (Math.round(average) > 0) { %>
                                    <strong>(<%= listing.reviews.length %>)</strong>&nbsp;
                                <% } else { %>
                                    <strong>No Rating</strong>&nbsp;
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
<% } else { %>
    <hr class="mt-5">
    <h1 class="text-center">No Listings</h1>
    <hr>
<% } %>
