<% layout("layouts/boilerplate") -%>


<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for (let list of listings) { %>
        <a href="/listings/<%=list.id%>" class="listing-link">
            <div class="card col">
                <img src="<%=list.image%>" class="card-img-top" alt="Image Of <%=list.title%>" style="height: 20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <b><p class="card-text"><%=list.title%></b> <br>
                    &#x20B9;<%=list.price.toLocaleString("en-IN")%>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>

